@model Tag
@{
    ViewData["Title"] = "Edit";
}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Edit</h1>
        <form method="post" asp-action="edit">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
