@model OrderCreateViewModel

<form method="post" asp-action="create" >
    <div class="checkbox-form">
        <h3>Billing Details</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-form-list">
                    <label asp-for="FullName">FullName<span class="required">*</span></label>
                    <input asp-for="FullName" />
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="checkout-form-list">
                    <label asp-for="Address">Address<span class="required">*</span></label>
                    <input asp-for="Address" />
                    <span class="text-danger" asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkout-form-list">
                    <label asp-for="Email">Email<span class="required">*</span></label>
                    <input asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkout-form-list">
                    <label asp-for="Phone">Phone Number<span class="required">*</span></label>
                    <input asp-for="Phone" />
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>
        </div>
        <div class="different-address">
            <div class="order-notes">
                <div class="checkout-form-list checkout-form-list-2">
                    <label asp-for="Note">Order Notes</label>
                    <textarea  asp-for="Note"
                        id="checkout-mess"
                              cols="30"
                              rows="10"
                              placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    <span class="text-danger" asp-validation-for="Note"></span>
                </div>
            </div>
        </div>
    </div>
</form>